.chatroom {
  width: 600px;
  height: 500px;
  margin: 20px auto;
  border: 1px solid #96C4BB;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.chat-history {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 15px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.chat-history p {
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}

.chat-history p.user-msg {
  background-color: #96C4BB;
  color: white;
  align-self: flex-end;
  max-width: 70%;
  transform: translateX(100%);
  animation: slideInRight 0.3s forwards;
}

.chat-history p.oca-msg {
  background-color: #f1f1f1;
  color: #333;
  align-self: flex-start;
  max-width: 70%;
  transform: translateX(-100%);
  animation: slideInLeft 0.3s forwards;
}

@keyframes slideInRight {
  to {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  to {
    transform: translateX(0);
  }
}

.chat-input {
  display: flex;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.chat-input button {
  width: 120px;
  background-color: #96C4BB;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-input button:hover {
  background-color: #507C7C;
}
