body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #BFD6C1;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #507c7c;
  color: white;
  padding: 10px 20px;
  text-align: center;
  z-index: 10;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px
}

.navbar-link{
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-link:hover {
  color: #507c7c
}

.mode-switch {
  text-align: center;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #96C4BB;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #507C7C;
}

.chatroom {
  width: 600px;
  height: 500px;
  margin: 20px auto;
  border: 1px solid #96C4BB;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.chat-history {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 15px;
  padding-right: 10px;
}

.chat-history p {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}

.chat-input {
  display: flex;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.chat-input button {
  width: 120px;
  background-color: #96C4BB;
  color: white;
  border-radius: 5px;
}

.chat-input button:hover {
  background-color: #507C7C;
}
